@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FeltTipWoman";
	src: url("../fonts/FeltTipWoman/FeltTipWoman.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "NexaBold";
	src: url("../fonts/nexa/NexaBold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "NexaLight";
	src: url("../fonts/nexa/NexaLight.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Light";
	src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
